.wheel-rotator {
  position: relative;
  width: 350px;
  height: 350px;
  animation: spin 30s linear infinite;
  transform-origin: center;
}

.dot-wheel {
  
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.dot {
  position: absolute;
  top: 45%;
  left: 40%;
  width: 35%;
  height: 35%;
  margin: -30px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dot:hover {
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
