.color-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #1e1e1e;
    margin: 10vh;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
    color: #e0e0e0;
    max-width: 80vw;
    margin: 3rem auto;
    flex-wrap: wrap;
    height: 100vh;

}

.background h1 {
    text-align: center;
    margin-bottom: 12.5vh;
    
}